@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Students Attendance Management System</h1>
    <p>This project manages attendance of students.</p>
    <p>To create a new report press:</p>
    @Html.ActionLink("Add new report", "Index", "Report")
</div>
