@model AttendanceApp.UI.TeacherModel

<h4>New teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label labelTitle"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label labelTitle"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course" class="control-label labelTitle"></label>
                <select class="form-control" asp-for="Course" asp-items="Html.GetEnumSelectList<Subject>()">
                    <option selected="selected" value="">Please select Course</option>
                </select>
                <span asp-validation-for="Course" class="text-danger">Select a course</span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label labelTitle"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create New Teacher" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a href='@Url.Action("Index")' class="btn btn-light"><img class="returnButtonIcon" src="~/Images/return.png" /> Back To Teachers List</a>
</div>


