@model List<AttendanceApp.BLL.Student>
@{
    ViewData["Title"] = "Attendance Management page";
}
<h1>Student attendance report page</h1>
<p>See all students and mark who is present</p>
<br />
<br />
<br />
<h1>Students Table</h1>
<table id="students">
    <tr>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Student Surname</th>
        <th>Student Group ID</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)<br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)<br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)<br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentGroupID)<br />
            </td>

        </tr>

    }
</table>